<div>
    <h1>Home</h1>

    <form id="formChat">
        <input type="text" id="inputUsername" placeholder="Ingrese su nombre de usuario" required>
        <input type="text" id="inputChat" placeholder="Ingrese su mensaje..." required>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

    <div id="chatBox">

    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
